@import "tailwindcss";

@theme {
  --color-bgLight: #ffffff;
  --color-neoYellow: #FBF4B0;
  --color-neoBlack: #111111;
  --shadow-neo: 4px 4px 0px 0px rgba(0,0,0,1);
  --shadow-neo-lg: 8px 8px 0px 0px rgba(0,0,0,1);
}

@layer base {
  body {
    background-color: #000000;
    color: white;
    scroll-behavior: smooth;
    /* Cursor restaurado por defecto */
  }

  @keyframes scan {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }
}